.form__labelText {
    width: 100%;
    max-width: 250px;
    display: inline-block;
    margin-right: 5px;
}
.form__field {
    border: 1px solid #e7d6b1;
    padding: 10px;
    width: 100%;
    max-width: 400 px;
    border-radius: 5px;
}
.form__field:required {
    background-color: #e7d6b1;
}

.form__button {
    width: 100%;
    border: none;
    background-color: #0b360d;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.form__button:hover {
    background-color: #147019;
}
.form__button:active {
    background-color: rgb(18, 168, 55);
}
.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px;
}
.form__legend {
    background-color: #0b360d;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;

}