html {
    box-sizing: border-box;
}

*, ::after,
   ::before {
    box-sizing: inherit;
}

.body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    color: black;
    background-image: url("../images/money.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}